* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*================
HEADER FOR ALL PAGES
================*/

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 30px;
    padding-top: 50px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu {
    width: 100px;
    margin: 10px;
    border: 0px;
}

.home {
    min-height: 100px;
    text-decoration: none;
}

.home2 {
    min-height: 100px;
    color:cadetblue;
}

.about {
    min-height: 100px;
    text-decoration: none;
}

.about2 {
    min-height: 100px;
    color:cadetblue;
}

.gallery {
    min-height: 100px;
    text-decoration: none;
}

.gallery2 {
    min-height: 100px;
    color:cadetblue;
}

.blog {
    min-height: 100px;
    text-decoration: none;
}

.blog2 {
    min-height: 100px;
    color:cadetblue;
}

.contact {
    min-height: 100px;
    text-decoration: none;
}

.contact2 {
    min-height: 100px;
    color:cadetblue
}

.header a{
    text-decoration: none;
    color:black;
}

.header a:hover{
    color: cadetblue;
}

/*==============
FOOTER FOR ALL PAGES
==============*/

footer {
    display: flex;
    height: 100px;
    width: 100%;
    background-color:rgb(44, 44, 44);
    justify-content: space-between;
    align-items: center;
}

#copyright {
    color: white;
    font-size: 15px;
    width: fit-content;
    padding-left: 300px;
}

.mediabar {
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    padding-right: 300px;
    justify-content: space-between;
}

.icon {
    background-size: cover;
    height: 50px;
    width: 50px;
}

.twitter {
    background-image: url(Images/icon-twitter.jpg);
}

.twitter:hover {
    background-image: url(Images/icon-twitter-hover.jpg);
}

.facebook {
    background-image: url(Images/icon-facebook.jpg);
}

.facebook:hover {
    background-image: url(Images/icon-facebook-hover.jpg);
}

.googleplus {
    background-image: url(Images/icon-googleplus.jpg);
}

.googleplus:hover {
    background-image: url(Images/icon-googleplus-hover.jpg);
}

.pintrest {
    background-image: url(Images/icon-pinterest.jpg);
}

.pintrest:hover {
    background-image: url(Images/icon-pinterest-hover.jpg);
}



/*===============
MIDDLE PART FOR HOME PAGE (James helped me with this thanks James)
===============*/

.indexMid {
    background-image: url(Images/the-beacon.jpg);
    background-size: cover;
    height: 750px;
    display: flex;
    flex-direction: row;
}

.indexMidBoxes {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.midBox1 {
    background-color: white;
    padding: 20px 30px;
    margin: 20px;
    font-size: 28px;
    font-weight: 800;
}

.midBox2 {
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 20px 30px;
    margin: 20px;
    font-size: 24px;
}

.midBox3 {
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 20px 30px;
    margin: 20px;
    font-size: 24px;
}

.midBox4 {
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 20px 30px;
    margin: 20px;
    font-size: 24px;
}

.midBoxLink {
    font-size: 24px;
    background-color: cadetblue;
    color: white;
    padding: 30px 40px;
    margin: 20px;
    font-size: 24px;
    text-decoration: none;
}

.midBoxLink:hover {
    background-color: rgb(121, 199, 201);
}

.indexPlaceholder {
    width: 50%;
}

/*================
MORE IMAGES FOR INDEX
================*/

.moreImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 20px;
}

.moreImages {
    margin: 20px;
    padding: 20px;
}

/*===============
ABOUT PAGE
===============*/

h3 {
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(54, 54, 54);
    color: white;
    justify-self: center;
    width: fit-content;
    margin-bottom: 30px;
}


.BOOFLEXBOXES {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin: 0px auto;
}

.aboutPhoto {
    width: fit-content;
}

.aboutParagraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraphs {
    width: fit-content;
    margin: 10px;
    align-items: center;
}

.hParagraphs {
    width: fit-content;
    margin: 10px;
    min-height: fit-content;
}

.paragraphs1 {
    min-height: 150px;
}

.paragraphs2 {
    min-height: 150px;
}

.paragraphs3 {
    min-height: 150px;
}

.paragraphs4 {
    min-height: 150px;
}

/*===============
GALLERY
===============*/

h3 {
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    background-color: rgb(54, 54, 54);
    color: white;
    justify-self: center;
    width: fit-content;
    margin-bottom: 30px;
}

.galleryFirst {
    display: flex;
    justify-content: center;
    margin: 60px 10px;
}

.gallerySecond {
    width: fit-content;
    border: 3px solid #333;
    margin: 20px;
}