* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*================
HEADER FOR ALL PAGES
================*/

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 30px;
    padding-top: 50px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.menu {
    width: 100px;
    margin: 10px;
    border: 0px;
}

.home {
    min-height: 100px;
    text-decoration: none;
}

.home2 {
    min-height: 100px;
    color:cadetblue;
}

.about {
    min-height: 100px;
    text-decoration: none;
}

.about2 {
    min-height: 100px;
    color:cadetblue;
}

.gallery {
    min-height: 100px;
    text-decoration: none;
}

.gallery2 {
    min-height: 100px;
    color:cadetblue;
}

.blog {
    min-height: 100px;
    text-decoration: none;
}

.blog2 {
    min-height: 100px;
    color:cadetblue;
}

.contact {
    min-height: 100px;
    text-decoration: none;
}

.contact2 {
    min-height: 100px;
    color:cadetblue
}

.header a{
    text-decoration: none;
    color:black;
}

.header a:hover{
    color: cadetblue;
}


/*===============
MIDDLE PART FOR HOME PAGE (James helped me with this thanks James)
===============*/

.indexMid {
    background-image: url(Images/the-beacon.jpg);
    background-size: cover;
    height: 750px;
    display: flex;
    flex-direction: row;
}

.indexMidBoxes {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}

.midBox1 {
    background-color: white;
    padding: 20px 30px;
    margin: 20px;
    font-size: 28px;
    font-weight: 800;
}

.midBox2 {
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 20px 30px;
    margin: 20px;
    font-size: 24px;
}

.midBox3 {
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 20px 30px;
    margin: 20px;
    font-size: 24px;
}

.midBox4 {
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 20px 30px;
    margin: 20px;
    font-size: 24px;
}

.midBoxLink {
    font-size: 24px;
    background-color: cadetblue;
    color: white;
    padding: 30px 40px;
    margin: 20px;
    font-size: 24px;
    text-decoration: none;
}

.midBoxLink:hover {
    background-color: cadetblue;
}

.indexPlaceholder {
    width: 50%;
}

/*================
MORE IMAGES FOR INDEX
================*/

